//Colors of project//

// Brand Colors

$primary-normal: #DAF439;
$primary-dark: #444A1C;
$primary-light: #EBFF70;


//Neutral
$pury-white: #fff;
$trasparent-color: #ffffff25;
$trasparent-color-2: #ffffff0d;
$primary-gray: #CECECE;


//scepp 

$gradient-grenn: linear-gradient(179deg, #DAF439 43.12%, #FFFFFF 74.18%);

$trasparent-color-green: #dbf43919;
