//Typography of project//

@mixin typeface-1($size, $device: desktop){
    

    //  H1 //

    @if $size == h1 and $device == desktop{
        font-size: 54px;
        line-height: 70.31px;
    }@else if $size == h1 and $device == mobile {
        font-size: 50px;
        line-height: 100%;
    }

    //  H2  //

    @if $size == h2 and $device == desktop{
        font-size: 33px;
        line-height: 42.97px;
    }@else if $size == h2 and $device == mobile {
        font-size: 23px;
        line-height: 100%;
    }


}

//


@mixin typeface-2($size: p2, $device: desktop){
   
    //  P1 

    @if $size == p1 and $device == desktop{
        font-size: 14px;
        line-height: 100%;
    }@else if $size == p1 and $device == mobile {
        font-size: 13px;
        line-height: 100%;
    }

    //  p-destaque

    @if $size == p2 and $device == desktop{
        font-size: 17px;
        line-height: 27.44px;
    

}}
 
    
h1 {
    background: $gradient-grenn ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    @include typeface-1(h1,desktop );
    @include reponsive(s) {
        @include typeface-1(h1,mobile)
    }
}

h2 {
    background:linear-gradient(-95.47deg, #FFFFFF 88.04%, rgba(255, 255, 255, 0.748) 130.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
    @include typeface-1(h2,desktop );
    @include reponsive(s) {
        @include typeface-1(h2,mobile)
    }
}

h3 {
    color: $pury-white;
    
    @include typeface-1(h3,desktop );
    @include reponsive(s) {
        @include typeface-1(h3,mobile)
    }
}


p {
    color: $primary-gray ;
    
    @include typeface-2(p1,desktop );
    @include reponsive(s) {
        @include typeface-2(p1,mobile)
    }
}

.standout {
    color: $primary-gray;

    @include typeface-2(p2,desktop );
    @include reponsive(s) {
        @include typeface-2(p2,mobile)
    }


}

.standout-green {
    color: $primary-normal;
}

